<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui neque ex dolores hic veritatis quibusdam, blanditiis, iusto doloribus voluptates ullam natus. Accusamus quia molestias unde pariatur soluta quis mollitia dolorem.</p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> matheus@patrick.com</li>
                <li><i class="fa-solid fa-phone"></i> (63)9 9262-6906</li>
                <li><i class="fa-brands fa-whatsapp"></i> <a href="https://web.whatsapp.com/send?+63992626906" target="_blank"> Whatsapp</a></li>
            </ul>
        </address>
        <section class="dooter__copyright">
            &copy; Todos os direitos reservados.
        </section>
    </div>
</footer>